---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<style is:global>

    /* Largeurs des colonnes */
    .roadmap-table th:nth-child(1) { width: 30%; }
    .roadmap-table th:nth-child(2) { width: 10%; }
    .roadmap-table th:nth-child(3) { width: 10%; }
    .roadmap-table th:nth-child(4) { width: 10%; }
    .roadmap-table th:nth-child(5) { width: 10%; }
</style>

<!doctype html>
<html lang="fr">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Feuille de Route</h1>
			<p>
				Voici ma feuille de route pour ce blog.
			</p>
            <table class="roadmap-table">
                <thead>
                    <tr>
                        <th>Tâche</th>
                        <th>Validé</th>
                        <th>Date de publication</th>
                        <th>Lien</th>
                        <th>Inspiration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Créer un article sur les conventions API REST</td>
                        <td>✅</td>
                        <td>2025-06-12</td>
                        <td><a href="/joseph-blog/blog/rest-api">Article</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Créer un article sur les principes de la Programmation Orientée Objet</td>
                        <td>✅</td>
                        <td>2025-06-19</td>
                        <td><a href="/joseph-blog/blog/object-oriented-programming">Article</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Créer un article sur les principes SOLID et KISS</td>
                        <td>✅</td>
                        <td>2025-06-20</td>
                        <td><a href="/joseph-blog/blog/solid-principles">Article</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Créer un article sur mes prompts</td>
                        <td>✅</td>
                        <td>2025-06-22</td>
                        <td><a href="/joseph-blog/blog/mes-prompts">Article</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Créer un article sur Async/await en C#</td>
                        <td>❌</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Créer un article sur le cycle de vie d'un logiciel</td>
                        <td>❌</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Créer un article sur la différence entre hachage, chiffrement et encodage</td>
                        <td>❌</td>
                        <td></td>
                        <td></td>
                        <td><a href="https://www.google.com/search?client=firefox-b-d&sca_esv=2c6f63ed83ad38b8&sca_upv=1&sxsrf=ADLYWIKF4vnNnwnrF15P9Y-aK2BO8_XADA:1720313217720&q=hachage&source=lnms&fbs=AEQNm0CbCVgAZ5mWEJDg6aoPVcBgTlosgQSuzBMlnAdio07UCId2t1azIRgowYJD0nDbqEJ6FvRj5KNIgsmdsiBS5zSxfUHqHdP9BGZS40xEtYos-MPeb-UD8tPSstzC4Bxy08tiCP-NmL6CELM_T7qvLQxrvL-dsORw6PrsnowoGb4rMVKCbqMIwzkoxHNZ0LcGP-1JzRP0&sa=X&ved=2ahUKEwjOmPqR2pOHAxVLh_0HHZLaBCcQ0pQJegQIERAB&biw=1536&bih=703&dpr=1.25">Hachage</a></td>
                    </tr>
                    <tr>
                        <td>Créer un article sur l'injection de dépendances</td>
                        <td>❌</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Créer un article sur l'Architecture N-tiers</td>
                        <td>❌</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Créer un article sur l'Authentification</td>
                        <td>❌</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Créer un article sur l'Architecture Propre</td>
                        <td>❌</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Créer un article sur les tests unitaires et end-to-end</td>
                        <td>❌</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Créer un article sur CI/CD</td>
                        <td>❌</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Créer un article sur Docker</td>
                        <td>❌</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Créer un article sur OAuth2</td>
                        <td>❌</td>
                        <td></td>
                        <td></td>
                        <td><a href="https://learn.microsoft.com/fr-fr/entra/architecture/auth-oauth2">Link 1</a>
                            <a href="https://www.google.com/search?client=firefox-b-d&sca_esv=207a55e119c4cb0b&sca_upv=1&sxsrf=ADLYWIKc0TPIhUFBH7hQAdp8AWjbrCunFQ:1720312256136&q=protocole+oauth2&udm=2&fbs=AEQNm0CbCVgAZ5mWEJDg6aoPVcBgTlosgQSuzBMlnAdio07UCId2t1azIRgowYJD0nDbqEIN7XYIyS3uBYzHmWPp2pnWOM711f3zw8s8k2B2M4SwKO29ncF7gPsi0TMCOkJHAQXgr0HYQxa-9B2EGp01Ij7-JcaodPJjV6OvJKzoH4jbjvYwEFs&sa=X&ved=2ahUKEwiP3LfH1pOHAxVHo_0HHZeCBiEQtKgLegQICRAB&biw=1536&bih=703&dpr=1.25#vhid=8VpUXKqEnHyS_M&vssid=mosaic">Link 2</a>
                       </td>
                    </tr>
                    <tr>
                        <td>Créer un article sur les Microservices</td>
                        <td>❌</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
		</main>
		<Footer />
	</body>
</html>
